@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css";

/* Custom styles (if needed) */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #020617;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: 'Roboto', sans-serif;
}
